@keyframes hover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes solidify {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes nav-shrink {
  0% {
    height: 20%;
    height: 20vh;
    background-color: rgba(255, 255, 255, 0.0);
  }
  100% {
    height: 12%;
    height: 12vh;
    background-color: rgba(31, 58, 147, 0.8);
  }
}

@keyframes nav-enlarge {
  0% {
    height: 12%;
    height: 12vh;
    background-color: rgba(31, 58, 147, 0.8);
  }
  100% {
    height: 20%;
    height: 20vh;
    background-color: rgba(255, 255, 255, 0.0);
  }
}

@keyframes logo-shrink {
  0% {
    width: 70px;
  }
  100% {
    width: 50px;
  }
}

@keyframes logo-enlarge {
  0% {
    width: 50px;
  }
  100% {
    width: 70px;

  }
}

// @keyframes nav-text-shrink {
//   0% {
//     font-size: 20px;
//   }
//   100% {
//     font-size: 14px;
//   }
// }

// @keyframes nav-text-enlarge {
//   0% {
//     font-size: 14px;
//   }
//   100% {
//     font-size: 20px;
//   }
// }
