.extra-info {
  display: none;
  @include for-tablet-landscape-up {
    position: fixed;
    bottom: 35%;
    left: 25%;
    display: inline;
    font-family: $major;
    font-weight: 400;
    font-size: 20px;
    color: rgba(220, 220, 220, 1.0);
    width: 50%;
    text-align: center;
  }
}

.mini-landing-title {
  position: fixed;
  bottom: 45%;
  left: 25%;
  display: inline;
  font-family: $major;
  font-weight: 100;
  font-size: 50px;
  color: rgba(220, 220, 220, 1.0);
  width: 50%;
  text-align: center;
  @include for-tablet-landscape-up {
    display: none;
  }
}

.landing-arrow {
  position: fixed;
  bottom: 6%;
  left: 25%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 80px;
    cursor: pointer;
  }
}

.products {
  position: relative;
  // height: 100%;
  // height: 100vh;
  width: 100%;
  background-color: #fff;
  // width: 100vw;
  // background: rgba(255, 255, 255, 0.2);
  // margin-top: -4%;
  z-index: 9999;
}

.product-list {
  z-index: 9999;
  background-color: #fff;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  width: 100vw;

  // height: 100%;
  // height: 100vh;
  @include for-tablet-landscape-up {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    width: 80vw;
  }
}

.product-list-item {
  position: relative;
  background-color: #fff;
  width: 50%;
  display: flex;  
  align-items: center;
  flex-direction: column;
  margin: 6% 0;
  cursor: pointer;
  @include for-tablet-landscape-up {
    width: 33.3%;
  }
  &:hover {
    img {
      opacity: 1.0;
    }
  }
}

.product-list-item-text {
  width: 80%;
  text-align: left;
  font-size: 12px;
  color: black;
  // @include for-tablet-landscape-up {
    // font-size: 14px;
  // }
}

.product-list-item-image {
  width: 100%;
  text-align: center;
  margin-bottom: 6%;
  img {
    width: 60%;
    opacity: 0.8;
  }
}

.price-filter {
  width: 100%;
  width: 100vw;
  z-index: 9999;

  @include for-tablet-landscape-up {
    position: absolute;
    left: 0;
    top: 0;
    width: 18%;
    padding: 1%
  }
  & > div {
    @include for-tablet-landscape-up {
      margin: 6px;
    }
  }
}

.filter-title {
  margin: 1%;
  font-weight: 400;
  font-size: 18px;
  height: 24px;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-title {
  padding-top: 6px;
  margin: 1%;
  font-weight: 400;
  font-size: 18px;
  height: 24px;
  @include for-tablet-landscape-up {
    margin: 1% 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    width: 80vw;
    z-index: 9999999;
  }
}

.sort-by {
  @include for-tablet-landscape-up {
    margin: 1% 8% 1% 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    width: 20vw;
    z-index: 99999999;
  }
}

.sort-by-title {
  font-size: 18px;
  margin: 1%;
  cursor: pointer;
  &:hover {
    .sort-by-arrow {
      opacity: 0.9;
    }
  }
}

.sort-by-menu {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 6px;
  border: 1px solid rgba(180, 180, 180, 0.5);
  border-radius: 3px;
  margin: 1%;
  div {
    font-size: 14px;
    cursor: pointer;
    padding: 2px;
  }
}

.filter-selection {
  background-color: rgb(200, 200, 200);
  opacity: 0.5;
  cursor: pointer;
  font-size: 14px;
  width: 98%;
  margin: 1%;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  &:hover, &.highlight {
    opacity: 0.9;
  }
}

.filter-clear {
  cursor: pointer;
  color: white;
  background-color: rgb(242, 38, 19);
  opacity: 0.4;
  border-radius: 2px;
  padding: 3px 6px;
  // float: right;
  // position: absolute;
  // top: -2px;
  // right: 2%;
  font-size: 14px;
  text-transform: uppercase;
  &.highlight {
    opacity: 0.9;
  }
}

.cart-modal {
  width: 80%;
  position: fixed;
  top: 20%;
  right: 0;
  z-index: 9999999;
  @include for-tablet-landscape-up {
    width: 40%;
  }
  &.transformed {
    animation-name: cart-space-shrink;
    animation-fill-mode: both;
    animation-duration: 500ms;
  }
  &.untransformed {
    animation-name: cart-space-enlarge;
    animation-fill-mode: both;
    animation-duration: 500ms;
  }
  &.visible {
    display: inline;
    // animation-name: cart-appear;
    // animation-fill-mode: both;
    // animation-duration: 500ms;
  }
  &.invisible {
    display: none;
    // animation-name: cart-disappear;
    // animation-fill-mode: both;
    // animation-duration: 500ms;
  }
}

.cart-list-product {
  background-color: white;
  opacity: 0.9;
  cursor: pointer;
  &:hover {
    opacity: 0.95;
  }
  width: 100%;
  padding: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-list-product-text {
  width: 80%;
  float: left;
  margin: 10px;
}

.cart-list-product-name {
  width: 100%;
  text-align: left;
  font-size: 12px;
  color: black;
}

.cart-list-product-price {
  width: 100%;
  text-align: left;
  font-size: 12px;
  color: black;
}

.cart-list-product-img {
  float: left;
  width: 20%;
  img {
    width: 100%;
  }
}